<?xml version="1.0"?>
<config>
    <modules>
        <Orba_Multipunkty>
            <version>0.2.1</version>
        </Orba_Multipunkty>
    </modules>
    <frontend>
        <routers>
            <multipunkty>
                <use>standard</use>
                <args>
                    <module>Orba_Multipunkty</module>
                    <frontName>multipunkty</frontName>
                </args>
            </multipunkty>
        </routers>
        <layout>
            <updates>
                <multipunkty>
                    <file>multipunkty.xml</file>
                </multipunkty>
            </updates>
        </layout>
        <translate>
            <modules>
                <Orba_Multipunkty>
                    <files>
                        <default>Orba_Multipunkty.csv</default>
                    </files>
                </Orba_Multipunkty>
             </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <multipunkty>
                <use>admin</use>
                <args>
                    <module>Orba_Multipunkty</module>
                    <frontName>multipunkty</frontName>
                </args>
            </multipunkty>
        </routers>
    </admin>
    <adminhtml>
	   <translate>
            <modules>
                <Orba_Multipunkty>
                    <files>
                        <default>Orba_Multipunkty.csv</default>
                    </files>
                </Orba_Multipunkty>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <multipunkty>
                                            <title>ORBA | MultiPunkty</title>
                                        </multipunkty>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <multipunkty>
                    <file>multipunkty.xml</file>
                </multipunkty>
            </updates>
        </layout>
    </adminhtml>
    <global>
    	<blocks>
    		<multipunkty>
    			<class>Orba_Multipunkty_Block</class>
    		</multipunkty>
    	</blocks>
        <models>
            <multipunkty>
                <class>Orba_Multipunkty_Model</class>
                <resourceModel>multipunkty_mysql4</resourceModel>
            </multipunkty>
            <multipunkty_mysql4>
                <class>Orba_Multipunkty_Model_Mysql4</class>
                <entities>
                    <transaction>
                        <table>orba_multipunkty_transaction</table>
                    </transaction>
                    <nonce>
                        <table>orba_multipunkty_nonce</table>
                    </nonce>
                </entities>
            </multipunkty_mysql4>
        </models>
        <resources>
            <multipunkty_setup>
                <setup>
                    <module>Orba_Multipunkty</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multipunkty_setup>
            <multipunkty_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </multipunkty_write>
            <multipunkty_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </multipunkty_read>
        </resources>
        <helpers>
            <multipunkty>
                <class>Orba_Multipunkty_Helper</class>
            </multipunkty>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <orba_multipunkty>
                        <class>Orba_Multipunkty_Model_Observer</class>
                        <method>placeOrder</method>
                    </orba_multipunkty>
                </observers>
            </sales_order_place_after>
        </events>
        <rewrite>
            <orba_multipunkty_index>
                <from><![CDATA[#multipunkty/api/1/events/partner/(.*)#]]></from>
                <to><![CDATA[/multipunkty/index/$1]]></to>
            </orba_multipunkty_index>
        </rewrite>
        <template>
            <email>
                <multipunkty_email_template translate="label" module="multipunkty">
                    <label>Multipunkty Email Template</label>
                    <file>multipunkty/order_new.html</file>
                    <type>html</type>
                </multipunkty_email_template>
            </email>
        </template>
    </global>
    <default>
       <multipunkty>
           <start_settings>
               <points_amount>1000</points_amount>
           </start_settings>
            <rewarding_settings>
                <reward_purchase>1</reward_purchase>
                <apply_cash_on_delivery>false</apply_cash_on_delivery>
            </rewarding_settings>
            <recommending_settings>
                <reward_comment>1</reward_comment>
                <reward_recommend_store>1</reward_recommend_store>
                <reward_recommend_product>1</reward_recommend_product>
            </recommending_settings>
            <presenting_information>
                <show_on_homepage>1</show_on_homepage>
                <show_near_product>1</show_near_product>
                <show_near_shopping_cart>1</show_near_shopping_cart>
                <show_on_summary>1</show_on_summary>
                <show_by_mail>1</show_by_mail>
            </presenting_information>
        </multipunkty>
    </default>
</config>
